.account-page {
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    max-width: 375px;
    max-height: 100vh;
    overflow-y: auto;
    margin: auto;
    color: #fff;
}

.account-info-section,
.change-password-section {
    width: 100%;
    margin-bottom: 10px;
}

.account-info-section h2,
.change-password-section h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.account-info-section h2::after,
.change-password-section h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #e91e63;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ffeb3b;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #fdd835;
}