<html>
  <head>
    <link rel="stylesheet" href="./admin_room.module.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Game Room Manager</h1>
        <div class="card">
          <div class="card-header">
            <h3>Room List</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Room ID</th>
                  <th>Room Owner</th>
                  <th>Room Members</th>
                  <th>Room Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Room 1</td>
                  <td>AlphaWolfVN</td>
                  <td>5</td>
                  <td>
                    <button class="button">Delete</button>
                  </td>
                </tr>
                <!-- More rows as needed -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
