<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <main>
        <div class="container">
            <table id="users_table">
                <tr>
                  <th>Full Name</th>
                  <th>Username</th>
                  <th>Number of joined rooms</th>
                  <th>Number of created rooms</th>
                  <th>Actions</th>
                </tr>
                <tr>
                  <td>Admin's Name</td>
                  <td>admin@example.com</td>
                  <td>50</td>
                  <td>20</td>
                  <td>
                    <button class="button">Delete</button>
                </tr>
                <!-- Add more rows as needed -->
              </table>
          </div>
    </main>
  </body>
</html>
