/* Room.module.css */
.bg_room {
  top: 0; /* Place the button at the top of the page */
  left: 0; /* Place the button at the start of the page */
  right: 0; /* Stretch the button to the end of the page */
  bottom: 0; /* Stretch the button to the bottom of the page */
}
.container {
  max-width: 800px;
  margin-left: 20px;
  padding: 20px;
}

.room-title {
  font-size: 24px;
  color: #333;
  align-content: center;
}

.room-link {
  color: #666;
}

.room-link a {
  color: #007bff;
  text-decoration: none;
}

.room-link a:hover {
  text-decoration: underline;
}

.upload-form {
  margin-top: 20px;
}

.file-input {
  display: block;
  margin-top: 10px;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}

.uploaded-content {
  margin-top: 20px;
}

.uploaded-content-title {
  font-size: 20px;
  color: #333;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
