/* Room.css */
div {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: black;
    font-size: 2em;
  }
  
  p {
    color: #666;
    font-size: 1.2em;
  }
  
  .QRCode {
    margin-top: 20px;
  }